## Dictionaries

In [1]:
d1={'k1':1,'k2':2,'k2':3}

In [2]:
print(d1)

{'k1': 1, 'k2': 3}

In [3]:
d2=dict(apple=80,mango=120,banana=40)

In [4]:
print(d2)

{'apple': 80, 'mango': 120, 'banana': 40}

## Accessing values

In [6]:
print(d2.keys())

dict_keys(['apple', 'mango', 'banana'])

In [7]:
print(d2.values())

dict_values([80, 120, 40])

In [11]:
print(d2.get('apple'))

80

In [15]:
for i in d2:
    print(i)

apple
mango
banana

In [16]:
for i in d2.values():
    print(i)

80
120
40

In [17]:
for i,j in d2.items():
    print(i,j)

apple 80
mango 120
banana 40

## updating values

In [18]:
d2['guava']=50
d2['grapes']=30

In [19]:
print(d2)

{'apple': 80, 'mango': 120, 'banana': 40, 'guava': 50, 'grapes': 30}

## deleting values

In [21]:
#method 1
d2.popitem()

('grapes', 30)

In [22]:
#method2
d2.pop('banana')

40

In [23]:
#method 3
del d2['apple']

In [24]:
d2

{'mango': 120, 'guava': 50}

## panda dataframe

In [46]:
d3={'hello':{'tanu':{'grade': 80, 'city': 'abc'},
            'manu':{'grade': 78, 'city': 'xyz'}}}

In [47]:
import pandas as pd
d4=pd.DataFrame(d3['hello'])
print(d4)

      tanu manu
grade   80   78
city   abc  xyz